<div class="container-fluid">
    <div class="d-flex flex-column" id="inner-container">
        <header class="border-bottom pt-2 pb-2 mb-3 dropdown">
            <h1
                    class="dropdown-toggle text-center"
                    data-toggle="dropdown"
                    data-display="static"
                    style="white-space: normal"
            >
                <span class="d-none d-md-inline">COVID-19 Dashboard:</span>
                <span id="current-location"></span>
            </h1>
            <div class="dropdown-menu country-select">
                <div class="pl-2 pr-2">
                    <input class="form-control" id="country-filter"/>
                </div>
                <div class="countries">
                    <div class="country"></div>
                </div>
            </div>

        </header>
        <main class="flex-grow-1 row" id="content">
        </main>
        <footer class="text-center text-muted pt-2 pb-2 border-top">
            <div class="d-lg-inline ml-lg-2 mr-lg-2">
                <div class="d-lg-inline">Data Sources:</div>
                <ul class="list-inline mb-0 d-lg-inline">
                    <li class="list-inline-item"><a href="https://systems.jhu.edu/">Johns Hopkins CSSE</a></li>
                    <li class="list-inline-item"><a href="https://www.wikidata.org">Wikidata</a></li>
                </ul>
            </div>
            <div class="d-lg-inline ml-lg-2 mr-lg-2">
                <div class="d-lg-inline">Visualization:</div>
                <div class="d-lg-inline">
                    <a href="https://sorst.net">Philip Washington Sorst</a>
                </div>
            </div>
        </footer>
    </div>
</div>
